<!DOCTYPE html>
<html>
    <head>
        <title><%= titulo %></title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='stylesheet' href='/stylesheets/estilo.css' />
    </head>
    <body class="grey lighten-3">
        <% include header %>    <!-- insere o ejs do cabeçalho  -->
        <section>
            <div class="container">
                <legend class="center grey lighten-1" id="legendaProdutosCadastrados">Produtos Cadastrados</legend>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <table class="responsive-table centered bordered highlight grey lighten-1" id="tabelaProdutosCadastrados">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <% for(i = 0; i < produtos.length; i++){ %>
                                    <tr>
                                      <td><%= produtos[i].cod %></td>
                                      <td><%= produtos[i].product %></td>
                                      <td>$ <%= produtos[i].price %></td>
                                      <td><%= produtos[i].description %></td>
                                      <td></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>    <!-- fim col -->
                </div>    <!-- fim row -->
            </div>     <!-- fim container-->
        </section>
        <% include footer %>   <!-- insere o ejs do rodapé  -->

        <link rel='stylesheet' href='/stylesheets/materialize-min.css' />
        <script type="text/javascript" src="/javascripts/jquery-min.js"></script>
        <script type="text/javascript" src="/javascripts/materialize-min.js"></script>
        <script type="text/javascript" src="/javascripts/dropdown.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--ícones materialize-->
    </body>
</html>
